.productItem {
    width:300px;
    background-color: #121212;
    box-shadow: 1px 1px 10px #121212;
    border-radius: 5px;
    margin: 60px 0 0 0;
}

.overlay {
    background-color: rgba(255,255,255,0.07);
    border-radius: 5px;
    padding: 20px;
    

}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    flex-shrink: 0;
    width: 90%;
    height: 200px;
    object-fit: contain;
}

h1, p, a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}